.btnFixed {
}
.btnFixed__box {
}
.btnFixed__btn {
    background-color: $mainColor2;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid $mainColor;
    transition: .3s;
    &:hover {
        border: 2px solid $mainColor2;
        background-color: $mainColor;
    }
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.btnFixed__img {
}